# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Environment files
.env

# VSCode
.vscode/

# Data
dataset/